// colors
$accentColor = #23BED9
$primaryColor = #f0f0f0
$textColor = #ccc
$borderColor = #2D2D2E
$codeBgColor = #0c0c0c
$arrowBgColor = #D2D9F0
$badgeTipColor = #5493F7
$badgeWarningColor = darken(#FFB822, 0%)
$badgeErrorColor = #FD3A7A

// layout
$navbarHeight = 5.5rem
$sidebarWidth = 20rem
$contentWidth = 1280px
$homePageWidth = 1280px
$layoutWidth = 1280px
$mobileNavbarHeight = 3.875rem

// responsive breakpoints
$MQNarrow = 1023px
$MQMobile = 768px
$MQMobileNarrow = 419px